<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<h3 th:text="${title}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="enable">Enable</label>
				<div class="row">
					<input class="form-check-input" type="checkbox" id="enable" th:field="*{enable}">
				</div >
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<div>
					<select class="form-control" type="text" id="id" th:field="*{country}">
						<option value="">-- select --</option>
						<option th:each="country: ${countryList}" th:text="${country.name}" th:value="${country.id}">
						</option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
			</div>
			<div class="form-group">
				<label>Roles</label>
				<div th:each="role: ${listRoles}">
					<input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.id}">
					<label th:text="${role.name}"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>
			<div class="form-group">
				<label for="id">Id</label>
				<div>
					<input class="form-control" type="text" id="id" th:field="*{id}">
				</div>
				<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<div>
					<input class="form-control" type="text" id="username" th:field="*{username}">
				</div>
				<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<div>
					<input class="form-control" type="password" id="password" th:field="*{password}">
				</div>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<div>
					<input class="form-control" type="email" id="email" th:field="*{email}">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="firstname">FirstName</label>
				<div>
					<input class="form-control" type="text" id="firstName" th:field="*{firstName}">
				</div>
				<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
			</div>
			<div class="form-group">
				<label for="lastname">LastName</label>
				<div>
					<input class="form-control" type="text" id="lastName" th:field="*{lastName}">
				</div>
				<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
			</div>
			<div class="form-group">
				<label for="age">Age</label>
				<div>
					<input class="form-control" type="number" id="age" th:field="*{age}">
				</div>
				<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
			</div>
			<div class="form-group">
				<label for="birthday">Birthday</label>
				<div>
					<input class="form-control" type="date" id="birthday" th:field="*{birthday}"
						placeholder="yyyy/MM/dd">
				</div>
				<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
			</div>
			<div>
				<div>
					<input class="btn btn-primary" type="submit" value="Send">
				</div>
			</div>
			<input type="hidden" th:field="*{secretValue}">
		</form>
	</div>
</body>

</html>