<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<h3 th:text="${title}"></h3>
	<form th:action="@{/form}" th:object="${user}" method="post">
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">Password</label>
			<div>
				<input type="password" id="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="email" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<label for="firstname">FirstName</label>
			<div>
				<input type="text" id="firstName" th:field="*{firstName}">
			</div>
			<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
		</div>
		<div>
			<label for="lastname">LastName</label>
			<div>
				<input type="text" id="lastName" th:field="*{lastName}">
			</div>
			<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
		</div>
		<div>
			<div>
				<input type="submit" value="Send">
			</div>
		</div>
	</form>
</body>

</html>